@use '../../index.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.input-wrapper {
  padding-top: 1em;
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
.main-heading {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.6em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}
.sub-heading {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.6em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}
.search-input-position {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
.home-image-wrapper {
  width: 20%;
  margin: auto;
}
.keyword-search {
  // width: auto;
}
.keyword-length {
  font-size: 0.8em;
  background-color: $main-bg-colour;

  .keyword-length-highlight {
    color: $rating-colour;
    font-size: 1.2em;
    padding: 0.2em;
  }
}
input[type='search']::placeholder {
  text-align: center;
}

.home-view {
  // Cards below the hero
  padding: 1rem 0;

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-inner-wrapper .item:first-child .specialisation {
    border: 1px solid $border-colour-light;
  }
  /* Responsive layout */
  @media (max-width: 814px) {
    .home-image-wrapper {
      width: 100%;
      margin: auto;
    }
    .card-wrapper {
      flex-wrap: wrap;
      flex-direction: column;
      .card {
        width: 100vw; /* and this */
      }
    }
  }
}

/* Responsive layout */
@media (max-width: 896px) {
  .search-input-position {
    width: 100%;
  }
}
