@use '../../index.scss' as *;

.btn {
  color: $main-font-colour;
  background-color: transparent;
  opacity: 0.8;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.6rem 0;
  padding: 8px;
  border: 3px double $border-colour-light;
  outline: 0;

  &.disabled {
    border: 3px double $danger;
    opacity: 0.4;
  }
  &.not-disabled:hover {
    border: 3px double $main-font-colour;
    opacity: 1;
    cursor: pointer;
    color: $rating-colour;
    transition: border 0.6s ease-in-out;
  }
}
