@use '../../index.scss' as *;
@use '../../scssMixIn.scss' as *;

.user-profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .small-text {
    font-size: 0.7em;
  }

  .item {
    width: calc(50% - #{10px}); /* and this */
    .profile-click-count {
      color: $rating-colour;
    }
  }
  .image {
    width: 120px;
    height: 120px;
  }
}
/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 812px) {
  .user-profile-wrapper {
    flex-wrap: wrap;
    .item {
      width: 100vw; /* and this */
    }
  }
}
