@use '../../index.scss' as *;
@use '../../scssMixIn.scss' as *;

.admin-view-wrapper {
  .heading {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $main-font-colour;
    color: $main-bg-colour;
    z-index: 100;
    font-weight: bold;
  }
  .image {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .admin-view-inner-wrapper {
    display: flex;
    padding: 0.75rem;
  }

  Button {
    margin: 0 auto;
  }

  .item {
    height: auto;
    overflow-y: auto;
    text-align: center;
    width: calc(100% / 5);
    font-size: 0.8em;
    border-left: 1px solid $border-colour;
  }
  .isAdmin {
    display: none;
  }
  .showIsAdmin {
    padding: 1em;
    // border: 1px solid white;
    background-color: $main-bg-colour;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $main-font-colour;
    border-width: 40px;
    animation: animate 1s linear;
  }

  @keyframes animate {
    from {
      border-width: 0px;
    }
    to {
      border-width: 40px;
    }
  }
  .admin-view-inner-wrapper:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 812px) {
  .admin-view-wrapper {
    .heading {
      display: none;
    }
    .admin-view-inner-wrapper {
      flex-direction: column;
    }
    .item {
      width: 100% !important;
    }
    .item + .wider-item {
      width: 100% !important;
    }
  }
}
