@use '../../index.scss' as *;

.full-profile-wrapper {
  display: flex;
  align-items: stretch; /* Ensure all columns stretch to match the tallest */

  .item {
    flex: 1; /*grow*/
    padding: 0.5em;
    display: flex; /* Make each item a flex container */
    flex-direction: column; /* Stack content vertically */

    .specialisation-wrapper {
      display: flex;
      .specialisation {
        font-size: 0.75em;
        width: calc(100% / 3);
        margin-left: 0.2em;
        text-align: center;
        background-color: black;
        text-transform: uppercase;
      }
    }

    .full-profile-name {
      font-family: 'Bebas Neue', cursive;
      font-size: 2.6em;
      text-transform: uppercase;
    }
    .full-profile-time {
      justify-content: flex-start;
      font-size: 0.7em;
    }
    .verified {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    h1 {
      margin-right: 1em;
    }
  }

  .first-column {
    .bg-image {
      flex: 1;
      min-height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .profile-image-public-wrapper {
    display: flex;
    flex: 1; /*grow*/
    img {
      opacity: 0.6;
      display: flex;
      width: 60px;
      height: 60px;
      &:hover {
        border: 1px solid $main-font-colour;
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  /*breakpoint*/
  .full-profile-wrapper {
    flex-direction: column;
  }
}
