@use '../../index.scss' as *;
@use '../../scssMixIn.scss' as *;

.profile-edit-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .item {
    width: calc(50% - #{10px}); /* and this */
  }

  .image {
    width: 120px;
    height: 120px;
  }
  .input-wrapper {
    border: 1px solid $border-colour;
  }
  .quill {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .quill.invalid {
    border-left: $rating-colour 1px solid;
    min-height: 120px;
  }
  .ql-editor:focus {
    background-color: rgba(255, 255, 255, 1);
    color: $main-bg-colour;
  }
  .input-border {
    border: 1px solid $border-colour;
  }
  .profile-images-wrapper {
    border: 1px solid $border-colour;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1em;
    .profile-image-size {
      width: 160px;
      height: 160px;
    }
    .profile-image-delete {
      position: relative;
      top: 14px;
      color: $danger;
      background-color: $main-font-colour;
      text-transform: capitalize;
      text-align: center;
      opacity: 0.8;
      border-radius: 50%;
      padding: 0.2em;
      font-size: 1.2em;
      &:hover {
        cursor: pointer;
        font-weight: bold;
        opacity: 1;
      }
    }
  }
  .summary-wrapper {
    border: 1px solid $border-colour;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
  }

  .search-algorithm {
    max-height: 200px;
    overflow-y: auto;
  }

  .fieldSet.item textarea {
    height: 100px;
  }
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 812px) {
  .profile-edit-wrapper {
    flex-wrap: wrap;
    .item {
      width: 100vw; /* and this */
    }
  }
}
