$main-bg-colour: rgba(12, 12, 12, 1);
$secondary-bg-colour: hsl(23, 100%, 50%);
$light-orange: rgba(236, 127, 55, 1);
$burnt-orange: rgba(190, 79, 12, 1);
$danger: crimson;
$link-colour: lightblue;
$success: rgba(92, 184, 92, 1);
$warning: rgba(240, 173, 78, 1);
$rating-colour: orange;
$rating-colour: rgba(196, 166, 36, 1);
$main-font-colour: whitesmoke;
$border-colour: rgba(200, 200, 200, 0.5);
$border-colour-light: hsla(0, 0%, 78%, 0.2);
$fieldSet-bg-colour: rgba(34, 35, 39, 1);
$header-height: 80px;
$footer-height: 40px;
