@use '../../index.scss' as *;

.quill {
  background-color: transparent;
  color: $main-font-colour;
  min-height: 250px;
}
.quill.invalid {
  border-left: $secondary-bg-colour 1px solid;
}
.quill.entered {
  border-left: greenyellow 1px solid;
}
