@use '../../index.scss' as *;

.bodyVantage-wrapper {
  background-color: rgba(51, 51, 51, 0.8);
  .bodyVantage-text {
    font-family: 'Bebas Neue', cursive;   
      padding: 2px 2px;
    letter-spacing: 0.2em;
  }
}
