@use '../../index.scss' as *;
@use '../../scssMixIn.scss' as *;

.contact-form-view-wrapper {
  display: flex;
  gap: 10px;
  .fieldSet {
    flex: 1;
  }
  label {
    font-size: 1em;
  }
  textarea {
    min-height: 250px;
  }

  .small-text-message {
    font-size: 0.6em;
  }
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 812px) {
  .contact-form-view-wrapper {
    flex-direction: column;
  }
}
