@use '../../index.scss' as *;
@use '../../scssMixIn.scss' as *;

footer {
  // @include border-all(1px, solid, $light-orange);
  height: $footer-height;
  font-size: 0.6em;
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
