@use 'index.scss' as *;
@use './scssMixIn.scss' as *;
$grid__bp-md: 1280;

.container {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;
  &--fluid {
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
}
.content-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}
