@use './styles/theme' as *;
@use './css/scrollBar.scss' as *;
@forward './styles/theme';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* variable setup moved to styles/_theme.scss */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}
body {
  font-family: 'Signika', sans-serif;
  font-family: 'Comfortaa', cursive;
  background-color: $main-bg-colour;
  color: $main-font-colour;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 'min(18px, 4.2vw)';
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a:link {
  text-decoration: none;
}
a {
  color: $main-font-colour;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 2px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.1em;
}

/* General global stye settings */

fieldset.fieldSet {
  border: 1px solid $border-colour-light;
  background-color: $fieldSet-bg-colour;
}
fieldset legend {
  text-transform: uppercase;
  font-weight: bold;
  color: $main-font-colour;
}
fieldset legend span {
  color: $rating-colour;
}

textarea {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0;
  outline: 0;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  color: $main-font-colour;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

textarea.invalid {
  border-left: $rating-colour 4px solid;
  min-height: 50px;
}
textarea.entered {
  border-left: greenyellow 4px solid;
  min-height: 50px;
}
textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  color: $main-bg-colour;
}

.small-text {
  font-size: 0.85em;
  color: $rating-colour;
  font-weight: bold;
}

hr.style-one {
  margin: 0.5em 0;
  border: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
