@use '../../index.scss' as *;

.login-out-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  .login-out-text {
    color: $burnt-orange;
    font-weight: bold;
    position: relative;
    font-size: 0.5em;
    text-transform: uppercase;
  }
}

.login-out-definition {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  opacity: 0.8;
  color: $burnt-orange;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.6s ease-in-out, color 0.6s ease-in-out;

  &:hover {
    opacity: 1;
    color: $burnt-orange;
  }

  &:focus-visible {
    outline: 2px solid $burnt-orange;
    outline-offset: 2px;
  }
}

.login-out-wrapper .link-comp {
  color: $main-font-colour;
}
