@use '../../index.scss' as *;

.login-out-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  .login-out-text {
    color: $rating-colour;
    font-weight: bold;
    position: relative;
    font-size: 0.5em;
    text-transform: uppercase;
  }
}

.login-out-definition {
  opacity: 0.8;
  color: $rating-colour;
  text-transform: uppercase;

  &.login-out-definition:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
    color: $rating-colour;
  }
}

.login-out-wrapper .link-comp {
  color: $main-font-colour;
}
