@use '../../index.scss' as *;

.accordion-wrapper {
  .question {
    padding: 0.5em;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .answer {
    padding: 0.1em;
    background-color: black;
    opacity: 1;
  }

  .drop {
    animation: animate 0.6s ease-in-out;
    @keyframes animate {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .accordion-inner-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .accordion-heading {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.2em;
  }
}
